#questionContainer{
	margin:1em;
	width:100%;
	height:100%;
}

#dialogContainer{
	font-size:45px;
}

.aContainer{
	font-size:45px;
}

.qContainer{
	width:45em;
	padding:1em;
	margin:1em;
	font-size:25px;
}

.qDialog{

}

.qSpoilerOn{
	background-color:#000000;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.title{
	color:#FFFFFF;
}
